@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

:root {
    --button-color: #646464;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.first-row-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .3rem;
    padding: .3rem;
    background-color: black;
    height: 4vh;
}


.first-row-button-formattings {
    background-color: var(--button-color);
    padding: .2rem;
    color: white;
    border-radius: .3rem;
    text-align: center;
    font-size: 12px;
}

.user-video {
    position: relative;
    width: calc((100% / 7) - (.2rem));
    height: calc((100% / 5) - (.3rem));
    display: flex;
    overflow: hidden;
}

.user-name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .2rem .1rem;
    color: white;
    background-color: rgba(165, 165, 165, 0.46);
    font-size: .7rem;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 4rem;
    justify-content: center;
    align-content: center;
    background-color: black;
    height: 88vh;
    gap: .4rem .2rem;
}

/* last-part settings */

.settings-container {
    background-color: #222222;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-layout {
    display: flex; 
    color: white;
    /* padding: 0 .7rem; */
}

.col-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    padding: 0 .7rem;
    justify-content: center;;
}

.col-left i {
    font-size: 1.4rem;
}

.fa-share-from-square:before {
    color: rgb(78, 199, 0);
}

.col-left span {
    font-size: .8rem;
}

.col-right {
    display: flex;
    align-items: center;
    padding: .5rem;
    font-size: .6rem;
}

.end-meeting-container {
    color: red;
    background-color: rgb(73, 73, 73);
    height: 100%;
    vertical-align: center;
}